{% extends 'layout.html' %}
{% block ourpage %}
  <h1 class="text-3xl text-center font-bold mt-12">Record Data</h1>
  <p class="text-lg text-gray-500 max-w-screen-lg text-center mx-auto mt-4 mb-12">
    Take a video of yourself walking around. Using this, we can assess movement and motor control using machine learning.
  </p>
		<div class="max-w-screen-md mx-auto">
            <form method="post" action="/uploadvideo" enctype="multipart/form-data">
                <img id='cam' src="{{ url_for('video_feed') }}" class="shadow-md rounded-md mb-8 mx-auto">
                <p class="text-center mb-8">
                    <button class="mx-auto px-8 py-4 rounded-md bg-red-500 font-bold shadow-md text-black disabled:opacity-60 opacity-100 mr-12" id="startRecording">Start recording</button>
                    <button class="mx-auto px-8 py-4 rounded-md bg-red-500 font-bold shadow-md text-black disabled:opacity-60 opacity-100" id="stopRecording" disabled>Stop recording</button>
                </p>
                <div id="poseform">
                    <label class="block mb-2 text-sm font-medium text-gray-900" for="user_avatar">Or upload a video file</label>
                    <input accept="video/*" class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer focus:outline-none focus:border-transparent" aria-describedby="user_avatar_help" name="file" type="file">
                </div>
                <input type="submit" value="Upload" id='sub' class="font-bold shadow-md mb-6 w-full cursor-pointer mt-6 px-8 py-4 rounded-md bg-blue-500 text-white hover:bg-blue-700">
			</form>
                <!-- <input type="submit" value="Capture" id='sub' class="font-bold shadow-md mb-6 w-full cursor-pointer mt-6 px-8 py-4 rounded-md bg-blue-500 text-white hover:bg-blue-700"> -->
        </div>
{% endblock %}